
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: smoke 20s infinite, ;
    /* opacity: 0.8 */
  }
  #blob2 {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 50s infinite, ;
    /* opacity: 0.8 */
  }

  #bottom-nav {
    /* background: linear-gradient(to right, aquamarine, mediumpurple); */
    animation: smoke 20s infinite, ;
    /* opacity: 0.8 */
  }
  .whatsapp-ico{
    fill: white;
    z-index: 10;
}


  
  /* -- Links -- */
  
  
  
  #container {
    /* This will come into play later */
    perspective: 10px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  


  *, *::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title-lg {
  font-size: 3.3125rem;
  text-transform: lowercase;
  letter-spacing: -0.05em;
  line-height: 0.90566;
}

.btn {
  
  background-color: #0ebac5;
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.5s linear;
  color: #fff;
}

.btn:hover {
  background-color:#1e183a;
  border-radius: 1rem;
  scale: 1.1;
}

.btn::after{
  content: '';
  background: #0ebac5;
  border-radius: 2rem;
  width: 0;
  height: 100%;
  position: absolute;
  inset: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;    
}

.btn:hover::after {
  width: 100%;
}

.two::after {
transform: translateX(-100%);
transition: all 0.5s ease;
visibility: hidden;
}

.two:hover::after {
    visibility: visible;
    transform: translateX(0);
}

